@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

/* colors: #212529, #ced4da, #f8f9fa*/

* {
  box-sizing: border-box;
  /* outline: 1px solid red;*/
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-top: 80px;
  background-color: #212529;
  height: 150px;
  color: #fff;
}

.user-club-header {
  margin: 20px;
}

.user-club-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

.user-club-details {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.user-details-box {
  display: flex;
  flex-direction: column;
}

.profile-image {
  margin: 20px;
  height: 100px;
}

.bookclub-image {
  margin-right: 20px;
  height: 50px;
}

.invite {
  margin-top: 10px;
  text-decoration: none;
  color: #212529;
  font-weight: 500;
  font-size: 12px;
}

.user-shevles {
  font-size: 25px;
}

.user-shelves-header {
  margin: 80px 20px 20px 20px;
  font-size: 20px;
}

.user-shelves-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.user-shelves-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: -30px;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.user-shelves-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.user-shelves-card {
  display: flex;
  flex-direction: row;
  background-color: #e6e7e9;

  height: 400px;
  min-width: 40%;
  margin: 30px 40px 40px 40px;
  color: rgb(2, 2, 2);
  /* animation: slide 20s linear infinite;*/
}

.user-shelves-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.user-club-name {
  margin-bottom: 0;
  font-size: 20px;
}

.user-club-desc {
  margin-top: 10px;
}

.visit-club {
  margin-top: 15px;
  text-decoration: none;
  color: #6c757d;
  font-size: 16px;
}

.visit-club:hover {
  color: #212529;
  transition: 0.3s;
}
