@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: auto;
  font-family: "Montserrat", sans-serif;
}

.sign-up-header-box {
  display: flex;
  margin-top: 6rem;
  justify-content: center;
}

.sign-up-header {
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 600;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 400px;
  height: 40px;
  padding: 10px;
  margin-bottom: 30px;
  border: solid 0.5px #212529;
}

::-webkit-input-placeholder {
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
}

.signup-btn {
  background-color: #212529;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.signup-btn:hover {
  background-color: #fff;
  color: #212529;
  font-size: 15px;
  padding: 10px 20px;
  box-shadow: none;
  border: solid 1px #212529;
  border-radius: 5px;
  transition: 0.3s;
}
