.book-card-container {
  width: 200px;
  height: 300px;
  margin: 20px;
  margin-bottom: 175px;
  opacity: 0.9;
  cursor: pointer;
}

.book-card-container:hover {
  opacity: 1;
}

.book-card-details-box {
  padding: 15px 15px 5px;
  border: 0.5px solid #212529;
  background-color: #212529;
  color: #fff;
}

.book-card-image {
  width: 200px;
  height: 300px;
  border: 0.5px solid #212529;
}

.book-card-title {
  height: 40px;
  margin-bottom: 10px;
  overflow: hidden;
}

.book-card-author {
  height: 40px;
  margin-bottom: 15px;
}

.book-card-year,
.book-card-author {
  padding: 0;
  margin: 5px;
}