@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

/*colors: #212529, #ced4da, #f8f9fa*/

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: auto;
  /* font-family: "Roboto", sans-serif; */
  /* display: flex; */
  /* justify-content: center; */
}

.nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  height: 80px;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
  padding: 0 2rem;
  border-bottom: 0.5px solid #000;
  z-index: 5;
}

.links {
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: 400;
  color: #000;
}

.logo {
  display: flex;
  font-size: 26px;
  align-self: center;
  text-decoration: none;
  font-weight: 500;
}

.nav ul {
  /* margin:0; */
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-item {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  color: #000;
}

.fire-emoji {
  transform: translateY(-4px);
}
