@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
/* colors: #212529, #ced4da, #f8f9fa, #F5F3F4*/

* {
  font-family: "Montserrat", sans-serif;
}

.club-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f3f4;
  margin-top: 80px;
  padding: 50px;
}

.club-header-text {
  margin-left: 30px;
}

.club-name {
  font-size: 60px;
  margin: 0;
}

.club-description {
  margin-top: 5px;
  font-size: 20px;
}

.creator {
  margin-top: 40px;
}

.club-body {
  padding: 50px;
}

.members-count {
  font-size: 30px;
  margin: 0;
}

.members {
  font-size: 18px;
  margin-top: 10px;
}

.current-books {
  font-size: 30px;
  margin-top: 40px;
}

.default-bookclub-img {
  border-radius: 50%;
  width: 200px;
}
